{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">

                <div class="row">
                    <div class="col-sm-6">
                      <div class="card card-block">
                        <h4 class="card-title">Right To Life</h4>
                        <h6 class="card-subtitle text-muted">Right To Life</h6>
                      </div>
                      <img src="{% static 'img/home/life.png' %}" alt="Card image">
                      <div class="card-block">
                        <p class="card-text">In certain parts of Africa, medical practitioners advise expectant parents
                            to terminate a pregnancy if they detect a congenital disorder <!--like hydrocephalus or spina
                            bifida. There are cases reported of children murdered by the people who are meant to protect
                            them because they feel burdened by them. We advocate for the right to life, these children
                            have every bit of a right to live as you do. Why deny them that?--> </p>
                        <a href="#" class="card-link">Read more</a>
                      </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card card-block">
                        <h4 class="card-title">Right To Knowledge</h4>
                        <h6 class="card-subtitle text-muted">Right to knowledge</h6>
                      </div>
                      <img src="{% static 'img/home/knowledge.jpg' %}" alt="Card image">
                      <div class="card-block">
                        <p class="card-text">We empower the African people with the knowledge of congenital conditions i.e, Causes, Treatment and Prevention methods</p>
                        <a href="#" class="card-link">Read more</a>
                      </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card card-block">
                        <h4 class="card-title">Right to Treatment</h4>
                        <h6 class="card-subtitle text-muted">Right to Treatment</h6>
                      </div>
                      <img src="{% static 'img/home/treatment.jpg' %}" alt="Card image">
                      <div class="card-block">Some of these conditions if managed early, the child has a shot at living
                          a long healthy normal life. We aim to ensure that the affected get timely and quality treatment. </p>
                        <a href="#" class="card-link">Read more</a>
                      </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card card-block">
                        <h4 class="card-title">Awareness</h4>
                        <h6 class="card-subtitle text-muted">Right to life</h6>
                      </div>
                      <img src="{% static 'img/home/awareness.jpg' %}" alt="Card image">
                      <div class="card-block">
                        <p class="card-text">We’ve set out to create awareness about congenital conditions; the causes, treatment and prevention methods.
(Right to life)
For cases like Hydrocephalus and Spina Bifida, people in these communities make decisions that are all based on beliefs of witchcraft and curses. Most of these decisions lead to death.</p>
                        <a href="#" class="card-link">Read more</a>
                      </div>
                    </div>

                </div>


                {% placeholder "content" or %}
                {% endplaceholder %}
            </div>
        </div>
    </aside>


    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/sponsor.jpg' %}" class="img-responsive img-centered" alt="">

                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/sponsor.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/sponsor.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/sponsor.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

{% endblock content %}

