{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
  <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Become a member</h2>
                    <h3 class="section-subheading text-muted">Please fill this form to register as a member. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                    <form name="member" id="memberForm"action="/index/member/" role="form" method="post"  >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" required="required" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" required="required"">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <select id="membertype" name="membertype" required data-validation-required-message="Please select membership type">
                                              <option selected="selected" disabled="true"> Membership Type </option>
                                              <option value="child">Deserve child</option>
                                              <option value="parent">Deserve Parent</option>
                                              <option value="affiliate">Deserve Affiliate</option>
                                            </select>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <select id="condition" name="condition" required data-validation-required-message="please select condition">
                                              <option selected="selected" disabled="true"> Disorder condition </option>
                                              <option value="hydrocephalus">Hydrocephalus</option>
                                              <option value="spinabifida">Spina Bifida</option>
                                              <option value="cleftlip">Cleft Lip</option>
                                              <option value="other">Other</option>
                                            </select>
                                            <p class="help-block text-danger"></p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    <div style="color:white">
                                        <input type="checkbox" name="interest" value="counselling"> Counselling
                                        <input type="checkbox" name="interest" value="helping"> Helping out
                                        <input type="checkbox" name="interest" value="treatment"> Treatment for my child <br>
                                        <input type="checkbox" name="interest" value="learning"> Learning about congenital conditions
                                        <p style="color:white;">I am interested in: (Tick all that apply)</p>
                                    </div>

                                    </div>
                                </div>



                            <div class="col-lg-12 text-right">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">REGISTER</button>
                            </div>

                            </div>
                            <!--<div class="col-md-6">-->
                                <!--<div class="form-group">-->
                                    <!--<textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                                    <!--<p class="help-block text-danger"></p>-->
                                <!--</div> -->
                            <!--</div>-->
                            <div class="clearfix"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
