{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Founder, Partnerships and Mother of all deserve children</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/chantal2.jpg' %}" class="img-responsive img-circle" alt="Chantal Openda" >

                        <h4>Chantal Openda</h4>
                        <p class="text-muted">Founder, Partnerships and Mother of all deserve children</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/rosalia.jpg' %}" class="img-responsive img-circle" alt="Rosalia Lorenzen">
                        <h4>Rosalia Lorenzen</h4>
                        <p class="text-muted">Co-Founder, Operations and Finance and Funding</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/chantal2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Chantal Openda</h4>
                        <p class="text-muted">Founder</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> Chantal Openda is a Business Developer and Growth professional. In her 7 year career, she has developed successful sales and marketing strategies that have seen the growth and success of the organizations she has served in.

At Deserve, she oversees partnerships and leads the organization's strategy planning and execution efforts. She is also the mum in charge. Mother to all “deserve” children and sister and friend to the deserve parents.   </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}